<form action="/users/login" class="justify-content-center row g-3 align-item-center " method="POST">
<div class="col col-md-12">
<label for="userName"  class="form-lebel text-light">Email or username</label>
<input type="text" name="email" class="form-control">
</div>
<div class="col col-md-12">
<label for="password"  class="form-lebel text-light">password</label>
<input type="password" name="password1" class="form-control">
</div>

<div class="col-md-12">
    <button type="submit" class="btn form-control mt-4 btn-primary">Sign in</button>
  </div>

</form>